
div{
  width: 100%;
}
.bgcolor{
  /*Base background color*/
  background-color: #333333;
}
a:hover{
  background-color: #5D5D5D;
}
.allcaps{
  /*All caps tag*/
  text-transform: uppercase;
}

.centered{
  margin: auto;
  text-align: center;
}

/*
 Text decoration
 
 */
.light_text{
  /*Light (thin) text*/
  font-weight: lighter;
}

.bold_text{
  /*Bold text*/
  font-weight: bold;
}

.strikethrough_text {
  /*Strikethrough text (for like the things next to navbar)*/
  text-decoration: line-through;
}

/*
Text types
*/
.title_text{
  /*Large title text*/
  color: #FFFFFF;
  font-size: 300%;
  font-family: Raleway, Geneva, sans-serif;
  z-index: 1;
}

.subtitle_text{
  /*Smaller subtitle/heading text*/
  color: #FFFFFF;
  font-size: 200%;
  font-family: Raleway, Geneva, sans-serif;
}

.body_text{
  /*Body text*/ 
  color: #FFFFFF;
  font-size: 100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.lesspadding{
  padding: 1vw;
} 

.transparent_background{
  opacity: 1;	
  outline: none;
  background-color: transparent;
  border: 0px;
}


.homepage_image{
  width: 80%;
  height: 30%;
}

.image3 {
  width: 200px;	
}

.image5 {
  width: 200px;	
}

p.desc {
  position: relative;
  left: 100px;
  bottom: 150px;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.contact_ghost_button {
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  outline: none;
  text-decoration: none;
}
/*
Navigation bar CSS
*/

/*CSS for the entire navigation bar*/
.navbar{
  position: relative;
  display: inline-block;
  width: auto;
  z-index: 10;
}

.navbar a {
  z-index: 10;	
}

/*Navigation bar text*/
.navbar_text{
  color: rgb(119,119,119);
  font-family: Raleway, Geneva, sans-serif;
  font-size: 125%;
  padding: 1vw;
}

/*Removes text-decoration (underline in navigation bar LINKS only so the lines on side can still exist)*/
a.navbar_text{
  text-decoration: none;
}

/*Dropdown CSS for periods tab*/
.navbar_periods_dropdown{
  display: inline-block;
  width: auto;
}

/*Periods dropdown before hover (no-show)*/
.navbar_dropdown_content{
  display: none;
  position: absolute;
  width: auto;
}

/*On hover over the Periods text for dropdown*/
.navbar_periods_dropdown:hover .navbar_dropdown_content{
  display: block;
}
/*
* CONVENTIONS NOTE
* You can use multiple tags to make text more specific without a ton of more classes.
* For example, if you want all caps but with the same size as body text, you can do
* class="allcaps body_text" in your HTML.
* kay, thanks <3
*/ 

div{
  width: 100%;
}

body{
	background-color: #333333;
	color: white; 
	font-family: sans-serif;
	overflow-x: hidden;
}

p.desc{
	
}
.materials{
	position: relative;
	left: 7vw;
}
.GP{
	position: relative;
	left: 55%;
}
.centered{
  margin: auto;
  text-align: centered;
}
.center-left{
	margin: auto;
	position: absolute;
	left: 15vw;
	
}
.title_text{
  color: #FFFFFF;
  font-size: 300%;
  font-family: Raleway, Geneva, sans-serif
  /*Titular text base*/
}

.subtitle_text{
  color: #FFFFFF;
  font-size: 200%;
  font-family: Raleway, Geneva, sans-serif
}

.body_text{
  color: #FFFFFF;
  font-size: 100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif
  /*Body text base*/
}

.homepage_image{
	width: 80%;
	height: 30%;
}
/* Period 2 Page*/
.green{
	border-color: #21870B;
	background-color: #21870B;
	color: #21870B;
}
div.overview{
	max-height: 100px;
}
