/*
* CONVENTIONS NOTE
* You can use multiple tags to make text more specific without a ton of more classes.
* For example, if you want all caps but with the same size as body text, you can do
* class="allcaps body_text" in your HTML.
* kay, thanks <3
*/ 

div{
  width: 100%;
}

.bgcolor{
  /*Base background color*/
  background-color: #333333;
}



.allcaps{
  /*All caps tag*/
  text-transform: uppercase;
}

.centered{
  margin: auto;
  text-align: center;
}

/*

 Text decoration
 
 */
.light_text{
  /*Light (thin) text*/
  font-weight: lighter;
}

.bold_text{
  /*Bold text*/
  font-weight: bold;
}

.strikethrough_text {
  /*Strikethrough text (for like the things next to navbar)*/
  text-decoration: line-through;
}

/*

Text types

*/
.title_text{
  /*Large title text*/
  color: #FFFFFF;
  font-size: 300%;
  font-family: Raleway, Geneva, sans-serif;
}

.subtitle_text{
  /*Smaller subtitle/heading text*/
  color: #FFFFFF;
  font-size: 200%;
  font-family: Raleway, Geneva, sans-serif;
}

.body_text{
  /*Body text*/ 
  color: #FFFFFF;
  font-size: 100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.lesspadding{
  padding: 1vw;
}

.transparent_background{
  opacity: 1;	
  outline: none;
  background-color: transparent;
  border: 0px;
}


.homepage_image{
  width: 80%;
  height: 30%;
}

.block{
  display: block;
}

/*

Navigation bar CSS

*/

/*CSS for the entire navigation bar*/
.navbar{
  position: relative;
  display: inline-block;
  width: auto;
}

/*Navigation bar text*/
.navbar_text{
  color: rgb(119,119,119);
  font-family: Raleway, Geneva, sans-serif;
  font-size: 125%;
  padding: 1vw;
  text-decoration: none;
}

/*Dropdown CSS for periods tab*/
.navbar_periods_dropdown{
  display: inline-block;
  width: auto;
}

/*Periods dropdown before hover (no-show)*/
.navbar_dropdown_content{
  display: none;
  position: absolute;
  width: auto;
}

/*On hover over the Periods text for dropdown*/
.navbar_periods_dropdown:hover .navbar_dropdown_content{
  display: block;
}

